<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>天天看cn</title>
	<link href="/static/home/skin/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/home/skin/css/layoutit.css" rel="stylesheet">
	<link href="/static/home/skin/css/default.css" rel="stylesheet">
	<link href="/static/home/skin/css/base.css" rel="stylesheet">
	<link href="/static/home/skin/css/list.css" rel="stylesheet">
	<link href="/static/home/skin/css/content.css" rel="stylesheet">

	<script type="text/javascript" src="/static/home/skin/js/jquery.min.js"></script>
	<script type="text/javascript" src="/static/home/skin/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/home/skin/js/jquery.ui.touch-punch.min.js"></script>
	<script type="text/javascript" src="/static/home/skin/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/home/skin/js/jquery.htmlClean.js"></script>
	<script type="text/javascript" src="/static/home/skin/js/scripts.min.js"></script>
	<style>
		.jumbotron p{
			text-align: center;
			} 
		.jumbotron img{display: inline-block;max-width: 600px;}
	</style>
</head>
<body>
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div id="header">
				<!-- <div class="topAD">专业、专注、专心</div> -->
				<div class="logo">天天看cn</div>
			</div>	
			<!-- <div id="top">
				<div id="topBar">
					<div class="userPanel">
						<ul>
							<li><a href="#">手机版</a></li>
							<li><a href="#">设为首页</a></li>
							<li><a href="#">加入收藏</a></li>
							<li><a href="#">联系我们</a></li>
						</ul>
					</div>
					<div class="welcome">
						欢迎光临洋洋网络工作室网站！
					</div>
				</div>
			</div> -->
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-header">
					 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">切换导航</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">导航</a>
				</div>
				
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" >
					<ul class="nav navbar-nav">
						<li class="active">
							<a href="#">链接</a>
						</li>
						<li>
							<a href="#">链接</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">列表一</a>
								</li>
								<li>
									<a href="#">列表二</a>
								</li>
								<li>
									<a href="#">列表三</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">更多列表</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">更多列表</a>
								</li>
							</ul>
						</li>
					</ul>
					<form class="navbar-form navbar-left" role="search">
						<div class="form-group">
							<input type="text" class="form-control" />
						</div> <button type="submit" class="btn btn-default">搜索</button>
					</form>
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">链接</a>
						</li>
						<li class="dropdown">
							 <a href="#" class="dropdown-toggle" data-toggle="dropdown">下拉菜单<strong class="caret"></strong></a>
							<ul class="dropdown-menu">
								<li>
									<a href="#">列表一</a>
								</li>
								<li>
									<a href="#">列表二</a>
								</li>
								<li>
									<a href="#">列表三</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">更多列表</a>
								</li>
								<li class="divider">
								</li>
								<li>
									<a href="#">更多列表</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-8 column">
			<div class="carousel slide" id="carousel-953186">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-953186">
					</li>
					<li data-slide-to="1" data-target="#carousel-953186">
					</li>
					<li data-slide-to="2" data-target="#carousel-953186">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="/static/home/skin/img/1.jpg" />
						<div class="carousel-caption">
							<h4>
								焦点图一
							</h4>
							<p>
								焦点图一的描述,焦点图一的描述,焦点图一的描述,焦点图一的描述,焦点图一的描述,
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="/static/home/skin/img/2.jpg" />
						<div class="carousel-caption">
							<h4>
								焦点图二
							</h4>
							<p>
								焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,焦点图二的描述,
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="/static/home/skin/img/3.jpg" />
						<div class="carousel-caption">
							<h4>
								焦点图三
							</h4>
							<p>
								焦点图三的描述，焦点图三的描述，焦点图三的描述，焦点图三的描述，焦点图三的描述，
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-953186" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-953186" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			{foreach name="list" item="joke" }
			<div class="jumbotron" style="margin-top: 20px;">
				<h2>{$joke['title']}</h2>
				<p>
					{if !empty($joke['content'])}
						{$joke['content']}
					{else/}
					<img src="{$joke['img']}" alt="">
					{/if}
				</p>
				<!-- <p><a class="btn btn-primary btn-large" href="#">查看更多 »</a></p> -->
			</div>
			{/foreach}
			<!-- <ul class="pagination">
				<li><a href="#">上一页</a></li>
				<li><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">下一页</a></li>
			</ul> -->
			{$page}
		</div>
		<div class="col-md-4 column">
			<img alt="140x140" src="/static/home/skin/img/140.jpg" />
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div id="footer">
				<div class="footerNav">
					 <a href="#">关于我们</a> | <a href="#">服务条款</a> | <a href="#">免责声明</a> | <a href="#">网站地图</a> | <a href="#">联系我们</a>
				</div>
				<div class="copyRight">
					Copyright &copy;2018 ttkan.cn 版权所有
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>